version: "3.9"

services:
  frontend:
    container_name: codebaze_frontend
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    restart: always

   #//"build": "next build --turbopack",