version: '3.9'

services:
  frontend:
    build: .
    container_name: codebaze_frontend
    ports:
      - "3000:3000"
    env_file:
      - .env
    # depends_on:
    #   - backend   # optional if frontend calls your backend container
